@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  border: 1px solid @color11;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2px 1px 3px 1px;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background: #ffffff;
  margin: 2px 1px 3px 1px;
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: #ffffff;
}

#workspaces button {
  padding: 1px 9px;
  margin: 3px 3px;
  border-radius: 15px;
  border: 0px;
  color: #ffffff;
  background-color: @color11;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: #ffffff;
  background: @color11;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: #ffffff;
  background: @color11;
  border-radius: 15px;
  opacity: 0.7;
}

#custom-pacman, #custom-rofi, #custom-color_toggle, #custom-power, #clock {
        padding-left: 8px;
        padding-right: 4px;
        border-radius: 5px;
        transition: none;
        color: @color1;
        background: @color7;
}


#custom-rofi:hover, #custom-pacman:hover, #custom-color_toggle:hover, #custom-power:hover, #clock:hover {
        color: @color7;
        background: @color2;
}


#pulseaudio {
    background-color: #FFFFFF;
    font-size: 16px;
    color: @background;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#pulseaudio.muted {
    background-color: @color11;
    color: #FFFFFF;
}

#network {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 3px 10px 3px 0px;
  opacity: 0.8;
  border: 3px solid #ffffff;
}

#network.ethernet {
  background-color: @color11;
  color: #ffffff;
}

#network.wifi {
  background-color: @color11;
  color: #ffffff;
}

#bluetooth.on,
#bluetooth.connected {
  background-color: #ffffff;
  font-size: 16px;
  color: @background;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}