@import "../../.cache/wal/colors-waybar.css";

body,
#waybar,
.main-container {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s ease-in-out;
  border: 3px solid @color11;
  border-radius: 20px;
}

#workspaces,
#custom-pacman,
#custom-rofi,
#custom-color_toggle,
#custom-power,
#clock,
#pulseaudio,
#network,
#bluetooth.on,
#bluetooth.connected,
#network.ethernet,
#network.wifi {
  border-width: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background: #ffffff;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: #ffffff;
}

#workspaces button {
  color: white;
  background-color: @background;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active,
#workspaces button:hover {
  color: @color7;
  background: @color11;
  opacity: 1;
}

#custom-pacman,
#custom-rofi,
#custom-color_toggle,
#custom-power,
#clock,
#pulseaudio,
#network,
#bluetooth.on,
#bluetooth.connected {
  background-color: @tansparent;
  font-size: 16px;
  color: @color7;
  opacity: 0.8;
  padding: 0px;
  font-size: 20px;
}

#custom-rofi:hover,
#custom-pacman:hover,
#custom-color_toggle:hover,
#custom-power:hover,
#clock:hover {
  transition: all 0.3s ease-in-out;
  color: @background;
  background: @color11;
}

#pulseaudio.muted {
  background-color: @color11;
  color: @color1;
}

#bluetooth.off {
  background-color: @color5;
}

#custom-pacman {
    margin-top: 20px;
}

#custom-power {
    margin-bottom: 20px;
}